<form role="form" class="form-inline" accept-charset="utf-8">
  <div class="form-group">
  <label for="limit">Limit the list</label>
    <select name="limit" id="limit" ng-model="news.xlimit">
      <option value="5">5</option>
      <option value="10">10</option>
      <option value="20" selected="selected">20</option>
      <option value="50">50</option>
    </select>
  </div>
  <div class="form-group">
    <label for="order-name">OrderBy Camper:
        <input type="checkbox" id="order-name" ng-model="news.orderName">
    </label>
  </div>
  <div class="form-group">
    <label for="order-votes">OrderBy UpVotes:
        <input type="checkbox" id="order-votes" ng-model="news.orderVotes">
    </label>
  </div>
  <div class="form-group">
    <label for="order-date">OrderBy Date Created:
        <input type="checkbox" id="order-date" ng-model="news.date">
    </label>
  </div>
</form>