<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title></title>
      <meta name="description" content="FCC challenge to use API to get news">
      <meta name="author" content="Sean Campbell">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <link rel="stylesheet" type="text/css" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="css/dist/main.css">

      <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  </head>
  <body ng-app="newsApp">
      <!--[if lt IE 7]>
          <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->
    <main class="container-fluid">
      <header class="text-center">
        <h1>
          Camper News <a href="http://www.freecodecamp.com/">Free Code Camp</a>
        </h1>
      </header>

      <div class="container" ng-controller="NewsFeedCtrl">
      <form role="form" class="form-inline" accept-charset="utf-8">
        <div class="form-group">
        <label for="limit">Limit the list</label>
          <select name="limit" id="limit" ng-model="filter.xlimit">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="50">50</option>
          </select>
        </div>
        <div class="form-group">
          <label>OrderBy Camper:
              <input type="checkbox" ng-model="filter.orderName">
          </label>
        </div>
        <div class="form-group">
          <label>OrderBy UpVotes:
              <input type="checkbox" ng-model="filter.orderVotes">
          </label>
        </div>
        <div class="form-group">
          <label>OrderBy Date Created:
              <input type="checkbox" ng-model="filter.date">
          </label>
        </div>
      </form>
        <div class="news-feed" ng-repeat="feed in newsObjs | limiter:filter.xlimit | orderName:filter.orderName | orderVotes:filter.orderVotes |orderDate:filter.date">
          <img ng-src="{{feed.image}}" width="200px" height="200px"
                alt="Pic of Link or the User's display pic">
          <a href="{{feed.link}}">
            <h2>{{feed.headline}}</h2>
          </a>
          <a  class="btn btn-default"
            ng-click="feed.display = !feed.display">
            Extra Info
          </a>
          <div ng-show="feed.display">
            <p>Posted by: {{feed.username}}</p>
            <p>Created on: {{feed.created | date}}</p>
            <p>UpVotes: {{feed.rank}}</p>
          </div>
        </div>
      </div>



    </main>


  <script src="../bower_components/angular/angular.min.js"></script>
  <script src="../bower_components/jquery/dist/jquery.min.js"></script>
  <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="js/filters/limit.js"></script>
  <script src="js/filters/orderer.js"></script>
  <script src="js/controllers/news-feed-controller.js"></script>
  <script src="js/app.js"></script>

  </body>
</html>